In [28]:
import pandas as pd

In [39]:
lock_in_df = pd.read_csv('b_2023_lock_in_brazil.csv')
masters_df = pd.read_csv('b_2023_masters_tokyo.csv')
champs_df = pd.read_csv('2023_champions.csv')

In [40]:
lock_in_df.head()

,Team,Player,R,ACS,K,D,A,+/–,KAST,ADR,HS%,FK,FD,+/–.1,VS,MapName,Result,Margin
0,KOI,trexx,1.24,304,27,16,6,11,79,206,35,2,1,1,NRG,Icebox,Loss,-2
1,KOI,sheydos,1.15,193,17,12,4,5,71,124,28,1,2,1,NRG,Icebox,Loss,-2
2,KOI,Wolfen,0.81,168,14,18,3,-4,67,113,28,5,8,3,NRG,Icebox,Loss,-2
3,KOI,starxo,0.73,134,10,18,11,-8,50,92,23,0,4,4,NRG,Icebox,Loss,-2
4,KOI,koldamenta,0.59,73,5,19,12,-14,54,55,16,0,1,1,NRG,Icebox,Loss,-2

In [41]:
masters_df.head()

,Team,Player,R,ACS,K,D,A,+/–,KAST,ADR,HS%,FK,FD,+/–.1,VS,MapName,Result,Margin
0,FUT,MOJJ,0.89,174,12,13,2,-1,67,104,19,0,0,0,EG,Split,Loss,-8
1,FUT,AtaKaptan,0.88,143,8,14,3,-6,56,99,41,2,2,0,EG,Split,Loss,-8
2,FUT,MrFaliN,0.81,171,11,14,3,-3,50,111,26,4,2,2,EG,Split,Loss,-8
3,FUT,qRaxs,0.74,190,9,16,8,-7,72,135,27,1,0,1,EG,Split,Loss,-8
4,FUT,qw1,0.68,139,8,13,2,-5,56,86,16,3,4,1,EG,Split,Loss,-8

In [42]:
champs_df.head()

,Team,Player,R,ACS,K,D,A,+/–,KAST,ADR,HS%,FK,FD,+/–.1,VS,MapName,Result,Margin
0,TL,nAts,1.20,242,20,15,3,5,67,144,33,3,3,0,NAVI,Fracture,Loss,-2
1,TL,Sayf,0.96,170,14,16,10,-2,71,112,23,0,1,1,NAVI,Fracture,Loss,-2
2,TL,soulcas,0.95,152,13,14,9,-1,63,94,36,1,2,1,NAVI,Fracture,Loss,-2
3,TL,Jamppi,0.89,194,16,17,2,-1,50,126,17,5,5,0,NAVI,Fracture,Loss,-2
4,TL,Redgar,0.69,125,10,18,8,-8,71,92,20,1,3,2,NAVI,Fracture,Loss,-2

In [43]:
lock_in_df.columns
lock_in_df = lock_in_df.drop(columns = ['+/–', 'KAST', 'HS%', '+/–.1'])
lock_in_df.head()

,Team,Player,R,ACS,K,D,A,ADR,FK,FD,VS,MapName,Result,Margin
0,KOI,trexx,1.24,304,27,16,6,206,2,1,NRG,Icebox,Loss,-2
1,KOI,sheydos,1.15,193,17,12,4,124,1,2,NRG,Icebox,Loss,-2
2,KOI,Wolfen,0.81,168,14,18,3,113,5,8,NRG,Icebox,Loss,-2
3,KOI,starxo,0.73,134,10,18,11,92,0,4,NRG,Icebox,Loss,-2
4,KOI,koldamenta,0.59,73,5,19,12,55,0,1,NRG,Icebox,Loss,-2

In [44]:
masters_df.columns
masters_df = masters_df.drop(columns = ['+/–', 'KAST', 'HS%', '+/–.1'])
masters_df.head()

,Team,Player,R,ACS,K,D,A,ADR,FK,FD,VS,MapName,Result,Margin
0,FUT,MOJJ,0.89,174,12,13,2,104,0,0,EG,Split,Loss,-8
1,FUT,AtaKaptan,0.88,143,8,14,3,99,2,2,EG,Split,Loss,-8
2,FUT,MrFaliN,0.81,171,11,14,3,111,4,2,EG,Split,Loss,-8
3,FUT,qRaxs,0.74,190,9,16,8,135,1,0,EG,Split,Loss,-8
4,FUT,qw1,0.68,139,8,13,2,86,3,4,EG,Split,Loss,-8

In [45]:
champs_df.columns
champs_df = champs_df.drop(columns = ['+/–', 'KAST', 'HS%', '+/–.1'])
champs_df.head()

,Team,Player,R,ACS,K,D,A,ADR,FK,FD,VS,MapName,Result,Margin
0,TL,nAts,1.20,242,20,15,3,144,3,3,NAVI,Fracture,Loss,-2
1,TL,Sayf,0.96,170,14,16,10,112,0,1,NAVI,Fracture,Loss,-2
2,TL,soulcas,0.95,152,13,14,9,94,1,2,NAVI,Fracture,Loss,-2
3,TL,Jamppi,0.89,194,16,17,2,126,5,5,NAVI,Fracture,Loss,-2
4,TL,Redgar,0.69,125,10,18,8,92,1,3,NAVI,Fracture,Loss,-2

In [46]:
result_df = pd.concat([lock_in_df, masters_df, champs_df], ignore_index=True)
result_df.head(10)

,Team,Player,R,ACS,K,D,A,ADR,FK,FD,VS,MapName,Result,Margin
0,KOI,trexx,1.24,304,27,16,6,206,2,1,NRG,Icebox,Loss,-2
1,KOI,sheydos,1.15,193,17,12,4,124,1,2,NRG,Icebox,Loss,-2
2,KOI,Wolfen,0.81,168,14,18,3,113,5,8,NRG,Icebox,Loss,-2
3,KOI,starxo,0.73,134,10,18,11,92,0,4,NRG,Icebox,Loss,-2
4,KOI,koldamenta,0.59,73,5,19,12,55,0,1,NRG,Icebox,Loss,-2
5,NRG,s0m,1.42,295,24,13,4,184,4,0,KOI,Icebox,Win,2
6,NRG,crashies,1.27,244,22,15,6,139,3,2,KOI,Icebox,Win,2
7,NRG,Victor,1.00,161,14,15,9,97,2,3,KOI,Icebox,Win,2
8,NRG,FiNESSE,1.00,165,12,14,3,115,4,0,KOI,Icebox,Win,2
9,NRG,ardiis,0.94,156,11,16,9,122,3,3,KOI,Icebox,Win,2

In [47]:
result_df['OriginalOrder'] = range(len(result_df))

# Group by 'Team', 'MapName', 'Result', and 'Margin'
grouped_df = result_df.groupby(['Team', 'MapName', 'Result', 'Margin'], as_index=False).agg({
    'OriginalOrder': 'first',  # Take the first value of the original order
    'R': 'mean',
    'ACS': 'mean',
    'K': 'mean',
    'D': 'mean',
    'A': 'mean',
    'ADR': 'mean',
    'FK': 'mean',
    'FD': 'mean',
    'VS': 'first'  # Since 'VS' is constant within a group, you can take the first value
})

# Sort by the original order column to restore the original order
grouped_df = grouped_df.sort_values(by='OriginalOrder').drop('OriginalOrder', axis=1).reset_index(drop=True)

# Display the result
print(grouped_df)

    Team MapName Result  Margin      R    ACS     K     D    A    ADR   FK  \
0    KOI  Icebox   Loss      -2  0.904  174.4  14.6  16.6  7.2  118.0  1.6
1    NRG  Icebox    Win       2  1.126  204.2  16.6  14.6  6.2  131.4  3.2
2    KOI   Haven   Loss      -4  0.866  166.6  12.4  13.8  5.4  107.2  1.6
3    NRG   Haven    Win       4  1.146  188.2  13.8  12.4  7.6  121.8  2.8
4    DFM   Haven   Loss      -9  0.574  154.4   9.0  14.2  3.2  102.8  1.4
..   ...     ...    ...     ...    ...    ...   ...   ...  ...    ...  ...
387   EG  Ascent   Loss      -2  0.964  203.2  17.0  17.4  8.6  135.6  1.8
388  PRX    Bind   Loss      -8  0.788  167.2   9.8  15.0  7.6  107.8  1.8
389   EG    Bind    Win       8  1.252  222.6  15.0   9.8  4.8  147.0  1.8
390  PRX   Lotus   Loss      -3  0.916  196.0  15.4  17.4  5.4  133.4  2.2
391   EG   Lotus    Win       3  1.100  215.6  17.4  15.4  7.8  141.6  2.4

      FD   VS
0    3.2  NRG
1    1.6  KOI
2    2.8  NRG
3    1.6  KOI
4    2.0  GIA
..   ...  ...
387  3.0  PRX
388  1.8   EG
389  1.8  PRX
390  2.4   EG
391  2.2  PRX

[392 rows x 13 columns]

In [48]:
grouped_df.to_csv('./valorant_match_predict/clean_formodel.csv', index=False)